.header {
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.11),
            rgba(0, 0, 0, 0.637)),
        url("../assets/img/burgers-1839090_1920.jpg");
    transition: all 1s;
    transition-timing-function: ease;
}

.slogan {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Ultra', serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px #0c0702dc;
    display: inline-block;
    text-align: center;
    padding-left: 2em;
    margin-top: 11em;
    background-color: rgb(0, 0, 0);
    // width: 30%;
}

.inbetweener {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Ultra', serif;
    color: rgba(156, 93, 35, 0.979);
    text-shadow: 4px 3px #ff000017;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    transition: all 1s;
    text-align: center;
    transition-timing-function: ease;
}