 @media only screen and (max-width:800px) {
     .navbar-left {
         display: none;
     }

     .navbar-right {
         padding: 30px;
         margin: 0 auto;
         width: 100%;
         text-align: center;
     }

     .navbar-item {
         margin: 0;
         display: block;
         padding: 10px;
         margin: 10px;
         font-size: 1em;
     }

     .slogan {
         display: none;
     }

     .header {
         display: none;
     }

     .inbetweener {
         display: none;
     }

     .section {
         border-top-left-radius: 0px;
     }

     .section-content {
         margin-top: 0.1em;
     }

     .navbar-top {
         display: none;
     }

     .images {
         width: 50%;
     }

     .image-row1 {
         height: 50%;
         width: 100%;
     }

     .navbar-item {
         margin: 0;
     }

 }